.content-mid-header {
    height: 100px;
    background: #444;
}

.content-container {
    width: 50%;
    margin: auto;
    background: #D8D8D8;
}

.content {
    height: 275px;
    padding:50px;
    text-align: center;

}
